:root {
  --font-size-base: 12px;

  --primary-1: #762cad;
  --primary-2: #8843ab;
  --primary-bg: #fff9a9;

  --h1-text-color: var(--primary-1);
  --heading-text-color: var(--primary-2);
  
  --sidebar-bg-color: var(--primary-bg);
  --navbar-bg-color: var(--primary-bg);
  --menu-item-text-color: var(--primary-2);

  --toc-item-text-color-active: var(--primary-2);
  --breadcrumbs-text-color-active: var(--primary-2);
}

:root.dark {
  --primary-1: #fff189;
  --primary-2: #fff189;
  --primary-bg: #281433;
}
